<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="../static/css/dash-resetnav.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/rules-stylenav.css"> <!-- Resource style -->
	 <link rel="stylesheet" href="../static/css/dev.css"> 
	 
	 <script src="../static/js/dash-modernizrnav.js"></script> <!-- For Nav-->
	<script src="../static/js/dash-modernizr.js"></script> <!-- Modernizr -->
  <title>Dev Team</title>
  
  
</head>

<body>
	<header>
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="/dashboard.html"><span>Home</span></a></li>
			<li><a href="Rules.html"><span>Rules</span></a></li>
			<li><a href="login.html"><span>Logout</span></a></li>
			
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
</header>
	<div class="side"></div>
	<div class="container">
	<div class="heading">	<h1>Our Team</h1>
		<hr>
	</div>
		<table>
			<tr>
				<td>
					Ishan Vaidya<br>
					<hr><p class="blur">
						Front-End
					</p>
					
				</td>
					<td>
					Bhawesh Bhansali<br>
					<hr>
					<p class="blur">
						Back-End
					</p>
				</td>
			</tr>
			<tr>
				<td>
					Dheemahi Turaga<br>
					<hr>
					<p class="blur">
						Front-End
					</p>
				</td>
					<td>
					Rahul Agarwal<br>
					<hr>
					<p class="blur">
						Back-End
					</p>
				</td>
			</tr>
	</div>
	<script src="../static/js/dash-jquery-2.1.4.js"></script>
<script src="../static/js/dash-mainnav.js"></script>
</body>
</html>